version: '3.8'

services:
  collector:
    image: otel/opentelemetry-collector-contrib
    volumes:
      - ./etc/opentelemetry_collector/config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
