receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  zipkin:
    endpoint: http://host.docker.internal:4001

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file, zipkin]
